<div class="help-grid">
<span><b>Application</b></span><span><b>Contact Support</b></span><span><b>Additional Information</b></span>
{{#each drawsapps}}
	<span>{{this.Application}}</span><span><a href="{{this.Support}}" target="support-new">{{this.SupportLinkText}}</a></span><span><a href="{{this.Other}}" target="other-new">{{this.OtherLinkText}}</a></span>
{{/each}}
</div>
