<header id="pageHeader"><h1>{{title}}</h1></header>
<main id="mainArticle">
<div id="inner-grid">
<top id="topMain">
<!--
<input type="text" id="calc-mv" onchange="calcTX(this.value)"></input>
<span id="calc-totdb"></span>
<span id="calc-digout"></span>
<span id="calc-aout"></span>
-->
</top>
<left id="leftMain">
{{>din side="left"}}
</left>
<right id="rightMain">
{{>din side="right"}}
</right>
<common id="commonMain" class="advanced">
	<div class="sectionhead">Shared Controls</div>
	<div class="advanced">Playback Common Mode Voltage {{>playswitch selectid='playbackcmsw'}}</div>
</common>
</div>
</main>
<nav id="mainNav">
	<button class="adv-button" onclick="toggleByClass('advanced')">Toggle Advanced Controls</button>
	<button onclick="execute(1)">GPSD Restart</button>
	<button onclick="execute(2)">GPSD Stop</button>
	<button onclick="execute(3)">Clock Instant Update</button>
</nav>
<footer id="pageFooter">
	<div>
	<span id="product">{{stats.hat.product}}</span> | 
	<span id="sensors"> </span>
	</div>
	<div>
	<span id="model">{{stats.model}}</span> |
	CPU Temp: <span id="cputemp">{{stats.cputemp.f}} &deg; F ({{stats.cputemp.c}} &deg; C)</span> &bull;
	Uptime: <span id="uptime">(Collecting)</span> &bull;
	Load AVG: <span id="loadavg">(Collecting)</span>
	</div>
</footer>
<script type="text/javascript" charset="UTF-8" src="/javascripts/draws.js"></script>
