<header id="pageHeader">{{title}}</header>
<article id="mainArticle">
{{#each mixer}}
	<div>
	{{specs.name}} 
	{{#if params.itemlist}}
		<div>
		<select name="select-{{../specs.numid}}">
		{{#each params.itemlist}}
			<option value="{{value}}" {{#compare value "==="  ../curvalues}}selected{{/compare}}>{{label}}</option> 
		{{/each}} 
		</select>
		</div>
	{{/if}}
	</div>
{{/each}}
</article>
<nav id="mainNav">Navigation</nav>
<div id="siteAds">TBD</div>
<footer id="pageFooter"><a target="nwdr" href="https://nwdigitalradio.com">NW Digital Radio</a></footer>
